<h1>Student Details</h1>

<table  style="border:1px solid black">
    <tr>
        <td>Id</td>
        <td>{{studentsDetailsCtrl.city.id}}</td>
    </tr>
    <tr>
        <td>Name</td>
        <td>{{studentsDetailsCtrl.city.name}}</td>
    </tr>
    <tr>
        <td>Zipcode</td>
        <td>{{studentsDetailsCtrl.city.zipcode}}</td>
    </tr>
    <tr>
        <td>Limit</td>
        <td>{{studentsDetailsCtrl.city.limit}}</td>
    </tr>
</table>
<h4><a href="students">Back to Students list</a></h4>